/* body {
    display: flex;
}
h1{
    text-align: center;
}

main{
    display: flex;
    position: absolute;
    right: 0px;
}
aside {
    display: flex;
    position: absolute;
    left: 0px;
}



.card1 {
    width: 100%;
    padding: 2px;
    background-color: aquamarine;
    
}

.card {
    background-color: grey;
    padding: 2px;
    
   
} */

* {
    box-sizing: border-box;
}